
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hello</title>
    <%- include('./layout/common/link.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('./layout/common/header.ejs') %>
        <%- include('./layout/common/nav.ejs') %>
        <div class="content-wrapper">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Registered Student</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Id #.</th>
                    <th>Name</th>
                    <th>Mothers Name</th>
                    <th>Registered for Class</th>
                    <th>Registered Date </th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% student.forEach(element => { %>
                    <tr>
                        <td> <%= element.id %> </td>
                        <td><%= element.first_name %></td>
                        <td><%= element.mother_name %> </td>
                        <td> Std : <%= element.class %> </td>
                        <td>  <%= element.date_of_join %> </td>
                        <td> 
                          <a href="../../admin/student/view/<%= element.id %>" class="">
                              <i class="fa fa-eye text-primary">  View Student Detail</i>
                          </a>
                         
                        </td>
                      </tr>
                      <% }); %>
                  
                  </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
         </div>
       <%- include('./layout/common/footer.ejs') %>
    </div>
    <%- include('./layout/common/downlink.ejs') %>
</body>
</html>
