<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Manage Student </title>
    <%- include('./layout/common/link.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('./layout/common/header.ejs') %>
            <%- include('./layout/common/nav.ejs') %>
                <div class="content-wrapper">
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h1>Invoice</h1>
                                </div>
                                <div class="col-sm-6">
                                    <ol class="breadcrumb float-sm-right">
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active">Invoice</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Student Detail of <%=student[0].first_name %>
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form action="" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">First Name</label>
                                            <input type="text" , name="first_name" , value="<%=student[0].first_name %>"
                                                class="form-control" readonly>
                                            <input type="hidden" , name="id" , value="<%=student[0]._id %>"
                                                class="form-control" readonly id="student_id">
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="">Father Name</label>
                                            <input type="text" , name="father_name" ,
                                                value="<%= student[0].father_name %>" class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Last Name</label>
                                            <input type="text" , name="last_name" , value="<%=student[0].last_name %>"
                                                class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="">Mother Name</label>
                                            <input type="text" , name="mother_name" ,
                                                value="<%= student[0].mother_name %>" class="form-control" readonly>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">age</label>
                                            <input type="number" , name="age" , value="<%= student[0].age %>"
                                                class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">DOB</label>
                                            <input type="text" , name="dob" , value="<%= student[0].dob %>"
                                                class="form-control" readonly>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">gender</label>
                                            <input type="text" , name="gender" value="<%= student[0].gender %>"
                                                class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">class</label>
                                            <input type="text" , name="class" , value="<%= student[0].class %>"
                                                class="form-control" readonly id="class">
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">mobile</label>
                                            <input type="number" , name="mobile" , value="<%= student[0].mobile %>"
                                                class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">email</label>
                                            <input type="email" , name="email" , value="<%= student[0].email %>"
                                                class="form-control" readonly>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">password</label>
                                            <input type="password" , name="password" ,
                                                value="<%= student[0].password %>" class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">status</label>
                                            <input type="status" , name="status" , value="<%= student[0].status %>"
                                                class="form-control" readonly>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">roll</label>
                                            <input type="roll" , name="roll" , value="<%= student[0].roll %>"
                                                class="form-control" readonly>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                            <label for="">address</label>
                                            <input type="text" , name="address" , value="<%= student[0].address %>"
                                                class="form-control" readonly>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <div class="mb-3">
                                    <input type="submit" , name="submit" class="btn btn-success w-100">
                                </div>
                                <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        </form>
                    </div>
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Main content -->
                                <div class="invoice p-3 mb-3">
                                    <!-- title row -->
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>
                                                <i class="fas fa-globe"></i> Here Is School Name.
                                                <small class="float-right">Date: <%=Date('y-m-d') %> </small>
                                            </h4>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- info row -->
                                    <div class="row invoice-info">
                                        <div class="col-sm-4 invoice-col">
                                            From
                                            <address>
                                                <strong>Admin, Inc.</strong><br>
                                                795 Folsom Ave, Suite 600<br>
                                                San Francisco, CA 94107<br>
                                                Phone: (804) 123-5432<br>
                                                Email: info@almasaeedstudio.com
                                            </address>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 invoice-col">
                                            To
                                            <address>
                                                <%=student[0].first_name %>
                                                    <strong></strong><br>
                                                    795 Folsom Ave, Suite 600<br>
                                                    San Francisco, CA 94107<br>
                                                    Phone: (555) 539-1037<br>
                                                    Email: john.doe@example.com
                                            </address>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-sm-4 invoice-col">
                                            <b>Invoice #007612</b><br>
                                            <br>
                                            <b>Order ID:</b> 4F3S8J<br>
                                            <b>Payment Due:</b> 2/22/2014<br>
                                            <b>Account:</b> 968-34567
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->

                                    <!-- Table row -->
                                    <div class="row">
                                        <div class="col-12 table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Qty</th>
                                                        <th>Class Name</th>
                                                        <th>Fees Type</th>
                                                        <th>Gst %</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Class
                                                            <span class="class_name">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            Addmission Fee
                                                        </td>
                                                        <td>
                                                            Null
                                                        </td>
                                                        <td class="addmission_fee">

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Class
                                                            <span class="class_name">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            Monthly Fee
                                                        </td>
                                                        <td>
                                                            Null
                                                        </td>
                                                        <td class="monthly_fee">

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Class
                                                            <span class="class_name">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            Book fees
                                                        </td>
                                                        <td>
                                                            Null
                                                        </td>
                                                        <td class="books_fee">

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Class
                                                            <span class="class_name">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            Extra Charge
                                                        </td>
                                                        <td>
                                                            Null
                                                        </td>
                                                        <td class="extra_charges">

                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <!-- accepted payments column -->
                                        <div class="col-6">
                                            <p class="lead">Payment Methods:</p>
                                            <!-- <img src="../../dist/img/credit/visa.png" alt="Visa">
                                            <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                                            <img src="../../dist/img/credit/american-express.png"
                                                alt="American Express">
                                            <img src="../../dist/img/credit/paypal2.png" alt="Paypal"> -->

                                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly
                                                ning heekya handango imeem
                                                plugg
                                                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                                            </p>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-6">
                                            <p class="lead">Amount Due 2/22/2014</p>

                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tr>
                                                        <th style="width:50%">Subtotal:</th>
                                                        <td class="sub_total">
                                                            $
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>Tax (9.3%)</th>
                                                        <td class="tax">$</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total:</th>
                                                        <td class="total">$</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->

                                    <!-- this row will not appear when printing -->
                                    <div class="row no-print">
                                        <div class="col-12">
                                            <a href="invoice-print.html" rel="noopener" target="_blank"
                                                class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                                            <button type="button" class="btn btn-success float-right"
                                                id="rzp-button1">Submit
                                                Payment
                                            </button>
                                            <button type="button" class="btn btn-primary float-right"
                                                style="margin-right: 5px;">
                                                <i class="fas fa-download"></i> Generate PDF
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.invoice -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                </div><!-- /.container-fluid -->
                </section>
    </div>
    <!-- /.card-body -->

    </div>
    </div>
    </div>
    <%- include('./layout/common/footer.ejs') %>
        </div>
        <%- include('./layout/common/downlink.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

            <script>
                var total;
                var class_name = $('#class').val();
                var student_id = $('#student_id').val();
                var class_id;
                $(document).ready(function ($) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/student/class/",
                        data: { class_name: class_name },
                        success: function (data) {
                            class_id = data[0]._id;
                            var class_name = data[0].class_name;
                            $('.class_name').append(class_name);
                            var addmission_fee = data[0].class_admission_fee;
                            $('.addmission_fee').append(addmission_fee);
                            var monthly_fee = data[0].class_monthly_fee;
                            $('.monthly_fee').append(monthly_fee);
                            var books_fee = data[0].class_books_fee;
                            $('.books_fee').append(books_fee);
                            var extra_charges = data[0].class_extra_charges;
                            $('.extra_charges').append(extra_charges);
                            var sub_total = addmission_fee + monthly_fee + books_fee + extra_charges;
                            $('.sub_total').append(sub_total);
                            var gst = sub_total * 9 / 100;
                            $('.tax').append(gst);
                            total = sub_total + gst;
                            $('.total').append(total);
                        },
                    });
                });
                document.getElementById('rzp-button1').onclick = function (e) {
                    $.ajax({
                        'url': '/admin/student/payement',
                        'data': {
                            "student_id": student_id,
                            "class_id": class_id,
                            "total_amount" : total
                        },
                        'method': 'POST',
                        'success': function (res) {
                            console.log(res);
                            var options = {
                                "key": "rzp_test_AUpefDNb4J68i7",
                                "currency": "INR",
                                "amount": total * 100,
                                "name": "Online Scholl Management",
                                "description": "This is for first time addmission",
                                "prefill.name": "Manas Das",
                                "prefill.email": "emauil@gmail.com",
                                "handler": function (response) {
                                    $('.loading').css('opacity', 0.5).fadeIn(300);
                                    $.ajax({
                                        'url': '/admin/student/payement',
                                        'data': {
                                            "razorpay_payment_id": response.razorpay_payment_id,
                                            "razorpay_order_id": response.razorpay_order_id,
                                            "razorpay_signature": response.razorpay_signature,
                                            "order_id" : res
                                        },
                                        'method': 'POST',
                                        'success': function (res) {
                                            $('.loading').fadeOut(300);
                                            console.log(res);
                                        },
                                        'error': function (err) {
                                            console.log(err);
                                        }
                                    });
                                }
                            };
                            rzp1 = new Razorpay(options);
                            rzp1.open();
                        },
                        'error': function (err) {
                            console.log(err);
                        }
                    });
                }
            </script>

</body>

</html>