
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hello</title>
    <%- include('../admin/layout/common/link.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('../admin/layout/common/header.ejs') %>
        <%- include('../admin/layout/common/teacher_nav.ejs') %>
        <div class="content-wrapper">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped small">
                <thead>
                    <th>Student name</th>
                    <th>Roll no.</th>
                    <th>class</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <% studentAttendance.forEach(val=>{ %>
                <tr>
                    <td><%=val.first_name %> <%=val.last_name %></td>
                    <td><%=val.roll %></td>
                    <td><%=val.Course_name %></td>
                    <td><%=val.mobile %></td>
                    <td><%=val.email %></td>
                    <td>
                        <a href="/teacher/edit-student/<%=val._id %>" class="btn btn-danger">Edit</a>
                    </td>
                </tr>
                <% }); %> 
                </tbody>
                
              </table>
            </div>
            <!-- /.card-body -->
          </div>
       </div>
       <%- include('../admin/layout/common/footer.ejs') %>
    </div>
    <%- include('../admin/layout/common/downlink.ejs') %>
</body>
</html>


