<!-- <h2>This is teacher Dashboard</h2>
<p>
 <%= teacher[0].t_name %>
</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>hello</title>
  <%- include('../admin/layout/common/link.ejs')%>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <%- include('../admin/layout/common/header.ejs') %>
      <%- include('../admin/layout/common/teacher_nav.ejs') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>This is teacher Dashboard</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active"><%= teacher[0].t_name %></li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
          
          
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (right) -->
  </div>
  <!-- /.row -->
  </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  </div>

  </div>
  <%- include('../admin/layout/common/footer.ejs') %>
    </div>
    <%- include('../admin/layout/common/downlink.ejs') %>
</body>

</html>